.labels{
    text-align: initial;
    padding: 20px 0px 5px 0px;
}
.formBody{
    width: 40%;
}
.error{
    color:red;
    text-align: left;
}
.buttons-group{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.productForm{
    padding: 50px;
}